extends layout

block content

    div(class="container")
        h1 Comment on tweet

        h2 Comment
            form(id='commentForm' method='post' action="/tweets/#{tweet}/comment")
                textarea(id='comment',placeholder="Comment",name="comment")
                input(id='submitComment' type="submit")
