extends layout

block content
  script.
      $(document).ready(function () {
          var table = $('#searchTable').DataTable({
              "serverSide": true,
              "processing": true,
              "searching":false,
              'ajax':{
                  url: '/search'
              }
          });
          $('#searchInput').keypress(function (e) {
              if (e.which == 13) {
                  console.log('test');
                  table.search( this.value ).draw();
              }
          });
      });
  div(class="container")
    div(class="starter-template")
      h1 Tweet Search Engine
      div
        p(class="lead")
          | Search Tweets
        div(class="input-group")
          span(class="input-group-addon",id="basic-addon1") Search
          input(id='searchInput', type="text", class="form-control", placeholder="Tweet Content", aria-describedby="basic-addon1")

        table(id="searchTable", class="display")
          thead
            tr
              th ID
              th Author
              th Date
          tbody

