extends layout

block content
  script.
      $(document).ready(function () {
          // forces the tweet table to be rendered serverside using the search route
		  var table = $('#searchTable').DataTable({
              "serverSide": true,
              "processing": true,
              "searching":true,
              'ajax':{
                  url: '/search'
              },
			  // columns shown in table
              "columns":[
                  {'data':"_id"},
                  {'data':"User Name"},
                  {'data':"Date"}
              ]
          });
		  // search on enter
          $('#searchInput').keypress(function (e) {
              if (e.which == 13) {
                  table.search( $(this).val() ).draw();
              }
          });
		  // attaches listener to clicks any table row and redirects to the detailed tweet page
          $('tbody').on('click','tr',function(){
              console.log('hi');
              window.location="/tweets/"+$(this).children().first().text();
          });
      });
  div(class="container")
    div(class="starter-template")
      h1 Tweet Search Engine
      div
        p(class="lead")
          | Search Tweets
        div(class="input-group")
          span(class="input-group-addon",id="basic-addon1") Search
          input(id='searchInput', type="text", class="form-control", placeholder="Tweet Content", aria-describedby="basic-addon1")

        table(id="searchTable", class="display")
          thead
            tr
              th ID
              th Author
              th Date
          tbody

